* {
    font-family: 'Baron Neue', 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
.logo {
    filter: contrast(0);
    filter: brightness(100);
}

.navbar {
    background: transparent;
}

.navbar-toggler {
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    transition: 0.3s;
    opacity: 0.7;
}

.nav-link:hover {
    color: #fff;
    opacity: 1;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

/* Body */

body {
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
}

.container {
    color: #e8eaec;
}

/* Servicos */

.services {
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.dot {
    font-size: 6rem;
}

.title {
    font-size: 4rem;
    padding-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
}

.subtitle {
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #e8eaec;
    opacity: 0.8;
}

.paragraph {
    font-size: 1rem;
}

/* Footer */

.mt {
    /* footer */
    margin-top: 2.3rem;
}

.text-footer {
    color: #243B55;
    font-size: 14px;
}

footer {
    background-color: #e8eaec;
}

.follow-us-nav a .fa {
    font-size: 24px;
}

.follow-us-nav .nav-link {
    transition: 0.3s;
    font-size: 30px;
    margin-right: 1rem;
    color: #243B55;
}

.follow-us-nav .nav-link .bi-instagram:hover {
    color: #3f729b;
}

.follow-us-nav .nav-link .bi-twitter:hover {
    color: #00acee;
}

.follow-us-nav .nav-link .bi-linkedin:hover {
    color: #0e76a8;
}

.follow-us-nav .nav-link .bi-github:hover {
    color: #000;
}

/* Scroll */

.services, .navbar {
    visibility: hidden;
}
