@import url('http://fonts.cdnfonts.com/css/baron-neue');

* {
    font-family: 'Baron Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
.logo {
    filter: contrast(0);
    filter: brightness(100);
}

.navbar {
    background: transparent;
}

.navbar-toggler {
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    transition: 0.3s;
    opacity: 0.7;
}

.nav-link:hover {
    color: #fff;
    opacity: 1;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

/* Body */

body {
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
}

.container-sobre {
    color: #e8eaec;
}

/* Sobre */

.sobre {
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.dot {
    font-size: 6rem;
}

.title-sobre {
    font-size: 4rem;
    padding-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
}

.subtitle-sobre {
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #e8eaec;
    opacity: 0.8;
}

.paragraph-sobre {
    font-size: 1rem;
}

.cont-foto {
    margin-top: -2rem;
}

.foto-sobre {
    width: 510px;
    height: 100%;
}

/* Divisa */

.divisa {
    height: 3px;
    border-radius: 30px;
    background: #e8eaec;
    margin-bottom: 7rem;
}

/* Fatos */
.title-fact {
    font-size: 2rem;
    padding-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
}

.list-fact {
    font-size: 1.1rem;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10rem;
}

.list-fact li {
    padding-bottom: 10px;
}

.foto-facts {
    margin-top: 4.2rem;
}

.foto-history {
    width: 400px;
    height: 100%;
    margin-left: 5rem;
}

.divisa {
    height: 3px;
    border-radius: 30px;
    background: #e8eaec;
    margin-top: -9rem;
}

/* Button top */

#btnTop {
    position: fixed;
    bottom: 50px;
    right: 40px;
    width: 50px;
    height: 50px;
    background-color: #243B55;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
    outline: 2px solid #fff;
    font-size: 22px;
}

#btnTop:hover {
    background-color: #e6e6e6;
    outline: 2px solid #243B55;
}

#btnTop:hover>.bi-arrow-up {
    color: #243B55;
}

.bi-arrow-up {
    color: #e6e6e6;
    transition: 1s;
}

/* Footer */

.mt {
    /* footer */
    margin-top: 2.3rem;
}

.text-footer {
    color: #243B55;
    font-size: 14px;
}

footer {
    background-color: #e8eaec;
}

.follow-us-nav a .fa {
    font-size: 24px;
}

.follow-us-nav .nav-link {
    transition: 0.3s;
    font-size: 30px;
    margin-right: 1rem;
    color: #243B55;
}

.follow-us-nav .nav-link .bi-instagram:hover {
    color: #3f729b;
}

.follow-us-nav .nav-link .bi-twitter:hover {
    color: #00acee;
}

.follow-us-nav .nav-link .bi-linkedin:hover {
    color: #0e76a8;
}

.follow-us-nav .nav-link .bi-github:hover {
    color: #000;
}

/* Media queries */

@media (max-width: 768px) {

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foto-sobre {
        width: 100%;
        height: 100%;
        margin-top: 3rem;
        margin-left: -1rem;
    }

    .text {
        text-align: center;
    }

    .text-facts {
        text-align: center;
        margin-left: 0;
        margin-right: 6rem;
    }

    .foto-facts {
        width: 400px;
        height: 100%;
        margin-bottom: -170rem;
        margin-left: -7.5rem;
        
    }

    .text-history{
        text-align: center;
        margin-top: 13rem;
        margin-bottom: 5rem;
    }

    .divisa {
        display: none;
    }


    .foto-history {
        width: 300px;
        height: 100%;
        margin-left: -7rem;
    }
}

/* Scroll */

.navbar, .sobre, .foto-sobre, .foto-facts{
    visibility: hidden;
}